.backdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: var(--cubic);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    & .modal-wrapper {
        transform: translate(-50%, -50%) scale(0.5);
      }
  }
  
  .modal-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
  
    padding: 40px;
    width: 528px;
    height: 581px;
  
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  
    transform: translate(-50%, -50%) scale(1);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: var(--cubic);

    &__title {
      display: block;
      margin-bottom: 12px;
      font-size: 20px;
      line-height: 1.15em;
    
      color: var(--title-text-cl);
    }
  }
  
  