.form__policy {
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .form__custom-checkbox {
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    outline: 2px solid var(--title-text-cl);
    border-radius: 2px;
    outline-offset: -2px;
    transition-property: background-color, outline-color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
  }
  
  .form__checkbox:checked + .form__custom-checkbox {
    background-color: var(--accent-text-cl);
    outline-color: var(--accent-text-cl);
  }
  
  .form__checkbox:checked:focus + .form__custom-checkbox {
    outline-offset: 0;
    outline-color: var(--title-text-cl);
  }
  
  .form__checkbox:focus + .form__custom-checkbox {
    outline-color: var(--accent-text-cl);
  }
  
  .form__text-policy {
    margin-left: 5px;
    text-align: center;
    font-size: 12px;
    line-height: 1.17em;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71em;
      margin-left: 7px;
    }
  }
  
  .form__policy-link {
    text-decoration: underline;
    color: var(--accent-text-cl);
  }