:root {
    --main-font: 'Roboto', sans-serif;
    /* text colors */
    --main-text-cl: #757575;
    --title-text-cl: #212121;
    --accent-text-cl: #2196f3;
    /* background colors */
    --main-bg-cl: #f5f4fa;
    --dark-bg-cl: #2f303a;
    /* transition */
    --time: 250ms;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  }

