.header {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    
  }
  
  .header__conteiner {
    display: flex;
    align-items: center;
  }
  
  .header__navigation {
    display: flex;
    align-items: center;
    

    @media screen and (max-width: 767px) {
      justify-content: space-between;
      width: 100%;
     }
  }

  // Кнопка моб-меню
  
  .mob-but-menu__icon-close {
    display: none;
  }

  .mob-but-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 10;

    transition-property: fill;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
  
    &:hover {
      fill: var(--accent-text-cl)
    }

    @media screen and (min-width: 768px) {
      display: none;
     }

     &.is-open .mob-but-menu__icon-close{
      display: block;
     }
     &.is-open .mob-but-menu__icon-burger{
      display: none;
     }
    }

  // Навігація-контакти таблетки і декстопа
  
  .header__list {
    margin: 0;
    padding: 0;
    display: flex;

    @media screen and (max-width: 767px) {
     display: none;
    }
  }

  .header__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--title-text-cl);
  
    transition-property: color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);

    &:hover,
    &:focus {
    color: var(--accent-text-cl);
  }
  }
  
  .header__link--active {
    position: relative;
  
    color: var(--accent-text-cl);

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
      
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
      
        background-color: var(--accent-text-cl);
      }
  }
  
  .contacts {
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: none;
     }

     @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-direction: column;
      align-items: flex-start;
      &__item:last-child {
        margin-top: 10px;
      }
     }

     @media screen and (min-width: 1200px)  {
      &__item:last-child {
        margin-left: 50px;
      }
     }
  }

  .contacts__link {
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--main-text-cl);
  
    transition-property: color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);

    &:hover,
    &:focus {
      color: var(--accent-text-cl);
    }

    @media screen and (min-width: 1200px)  {
      padding-top: 32px;
      padding-bottom: 32px;
}
}
  
  .contacts__icon {
    margin-right: 8px;
    fill: currentColor;

    @media screen and (min-width: 768px) and (max-width: 1199px)  {
      &--size-envelope {
        width: 14px;
        height: 10px;
      }
      &--size-smartphone {
        width: 10px;
        height: 14px;
      }
}

    @media screen and (min-width: 1200px)  {
      margin-right: 10px;
}
      
  }