.hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-color: var(--dark-bg-cl);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-background.jpg);
  
    text-align: center;
  }
  .hero__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }