.list-btn {
    margin: 0 0 50px 0;
    padding: 0;
    display: flex;
    justify-content: center;

    &__item:not(:last-child) {
      margin-right: 8px;
    }
  }
  
  
  
  .portfolio-btn {
    padding: 6px 22px;
    border: 0;
  
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62em;
    text-align: center;
    color: var(--title-text-cl);
    background: var(--main-bg-cl);
    border-radius: 4px;
    cursor: pointer;
  
    transition-property: color, background-color, box-shadow;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);

    &:hover,
    &:focus {
    color: #ffffff;
    background-color: var(--accent-text-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  }
  
  
  
  .portfolio-btn--active {
    color: #ffffff;
    background-color: var(--accent-text-cl);

    &:hover,
    &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
  