  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17em;
    color: var(--accent-text-cl);

    &-span--accent {
        color: var(--title-text-cl);
      }

      @media screen and (min-width: 768px) {
        margin-right: 88px;
        padding-top: 24px;
        padding-bottom: 24px;
       }

      @media screen and (min-width: 1200px) {
        margin-right: 93px;
        font-size: 26px;
        line-height: 1.19em;
      }  

      
  }
  
  .footer-logo {
    display: block;
    margin-bottom: 20px;
  
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17em;
    color: var(--accent-text-cl);

    &__part--accent {
        color: #ffffff;
      }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19em;
    }  
  }
  